.digital-clock{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #2F2F2F;
    color: greenyellow;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
}